<div class="container">
  <div class="row">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderBy">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="span10">
      <!--Body content-->

      <table class="table table-striped">
        <tr>
          <th>Project Name</th>
          <th>Description</th>
        </tr>
        <div ng-repeat="project in projects | filter:query | orderBy:orderBy">
          <tr>
            <td><a href="#/projects/{{project.id}}">{{project.name}}</a></td>
            <td>{{project.id}}</td>
          </tr>
        </li>
        </table>

    </div>
  </div>
</div>
