<div class="container">
  <h3>
    <span id="project-name-header">{{ project.name }}</span>
    <a data-toggle="modal" href="#edit-project-modal" class="edit-project-tooltip linkify-glyphicon"><span class="glyphicon glyphicon-edit"></span></a>
    <a data-toggle="modal" href="#create-secret-modal" class="create-secret-tooltip linkify-glyphicon"><span class="glyphicon glyphicon-plus-sign"></span></a>
  </h3>
  <div class="row">
    <div class="col-md-10">
      <!--Body content-->
      <table class="table table-striped">
        <tr>
          <th>Category</th>
          <th>Description</th>
          <th>URL</th>
          <th>Username</th>
          <th>Password</th>
          <th>Updated</th>
          <th>Actions</th>
        </tr>
          <tr ng-repeat="secret in secrets | filter:query | orderBy:orderProp">
            <td>{{ secret.category }}</td>
            <td>{{ secret.description }}</td>
            <td>{{ secret.url }}</td>
            <td>{{ secret.username }}</td>
            <td style="width:200px" class="get-secret" data-secret-id="{{ secret.pk }}"><span class="dots">••••••••</span></td>
            <td>{{ secret.modified_date }} by {{ secret.last_user.first_name }} {{ secret.last_user.last_name }} </td>
            <td>
              <a data-toggle="modal" href="#edit-secret-modal" class="edit linkify-glyphicon" data-secret-id="{{ secret.pk }}"><span class="edit-secret glyphicon glyphicon-edit"></span></a>&nbsp;&nbsp;
              <a href="" class="remove linkify-glyphicon" data-secret-id="{{ secret.pk }}"><span class="remove-secret glyphicon glyphicon-remove"></span></a>
            </td>
          </tr>
      </table>

    </div>
    <div class="col-md-2">
      <!--Sidebar content-->
     <div class="input-group">
       <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
       <input type="search" class="form-control input-sm" ng-model="query">
     </div>
      <select style="margin-top: 10px" class="form-control" ng-model="orderProp">
        <option value="category">Category</option>
        <option value="-create_date">Newest</option>
        <option value="create_date">Oldest</option>
      </select>
    </div>
  </div>
</div>
