<div class="container">
  <h3>Projects <a data-toggle="modal" href="#create-project-modal" class="linkify-glyphicon"><span class="glyphicon glyphicon-plus-sign"></span></a></h3>
  <div class="row">
    <div class="col-md-10">
      <!--Body content-->
      <table class="table table-striped">
        <tr>
          <th>Project Name</th>
          <th>Description</th>
        </tr>
        <tr ng-repeat="project in projects | filter:query | orderBy:orderProp">
          <td><a href="#/projects/{{project.id}}">{{project.name}}</a></td>
          <td>{{project.description}}</td>
        </tr>

      </table>
    </div>
    <div class="col-md-2">
      <!--Sidebar content-->
     <div class="input-group">
       <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
       <input type="search" class="form-control input-sm" ng-model="query">
     </div>
      <select style="margin-top: 10px" class="form-control" ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="-create_date">Newest</option>
        <option value="create_date">Oldest</option>
      </select>
    </div>
  </div>
</div>
